@import url("https://fonts.googleapis.com/css2?family=Mukta+Vaani&display=swap");

.mb {
  margin-bottom: 2%;
}

.mainContainer {
  font-family: "Mukta Vaani", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  position: absolute;
  top: 100px;
  right: 0px;
  margin: 2%;
  width: 70%;
  height: 60%;
  border: solid 1px rgb(110, 94, 254);
  border-radius: 10px;
}

.mainContainer > h1 {
  color: rgb(110, 94, 254);
  text-align: left;
  margin: auto;
  font-size: 2.5rem;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
}

.logoContainer {
  background: url("../../Images/logo\ \(1\).svg") no-repeat center center;
  height: 200px;
  width: 200px;
  background-size: 65%; /* This will scale the image to be contained within the circle */
  border-radius: 50%;
  border: 15px solid rgb(110, 94, 254);
  display: flex; /* Use flexbox to center content if any */
  align-items: center;
  justify-content: center;
  margin: auto;
}


.mainContainer > p {
  text-align: left;
  font-size: 1.3rem;
  padding: 10px;
}

@media screen and (max-width: 1100px) {
  .mainContainer {
    align-items: center;
    width: 80%;
    left: 10%;
  }
}
