.analyticspage {
  margin-top: 10vh;
  /* background-image: linear-gradient(to bottom, #eae2fb, rgb(209, 229, 247)); */
}
.Violenceanlyheade,
.Stateanlyheade {
  font-size: 3rem;
  color: rgb(115, 40, 245);
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}
.ViolenceWiseChartanaly,
.StateWiseChartanaly {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 94vh;
}

.Violenceanaly,
.Stateanaly {
  margin-bottom: 20px;
}

.violencegraphanddisplay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.stategraphanddisplay {
  width: 75%;
}

.Violencegraph {
  width: 30%;
}

.legend {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.legend-label {
  flex-grow: 1;
}

.legend-count {
  margin-left: 10px;
}
