@import url("https://fonts.googleapis.com/css2?family=Mukta+Vaani&display=swap");

.viewdatapage {
  display: flex;
  flex-direction: row;
  width: 98%;
  margin: auto;
  /* border:2px solid red; */
  /* position: absolute;
    top:100px; */
}

.sidebarshared {
  border: 4px solid rgb(121, 121, 232);
  /* padding: 10px; */
  border-radius: 10px;
  width: 100%;
  margin: auto;
  /* position: absolute; */
  background-color: white;
}

.showincidentsshared {
  width: 98%;
  margin: auto;
}

.showsafetytipsshared {
  width: 98%;
  margin: auto;
}

.sidenav {
  width: 98%;
  font-family: "Mukta Vaani", sans-serif;
  margin: auto;
  margin-top: 10px;
}

.incidenttips {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 1px solid rgb(183, 183, 183);
  cursor: pointer;
  background-color: white;
  width: 100%;
}

.safetytips,
.incidentsnearme {
  /* width: max-content; */
  color: black;
  font-weight: bold;
  padding: 10px 5px;
  width: 50%;
  text-align: center;
}

.togactive {
  background-color: rgb(140, 155, 225);
  color: white;
}
