.fullPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 98%;
  overflow: hidden;
  margin: auto;
}

.paginationfooter {
  width: 100%;
}

.nothinghere {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
  height: 40vh;
  color: rgb(115, 40, 245);
  font-weight: bold;
  font-size: large;
}

.gridParent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  gap: 20px;
  margin: auto;
}

.gridChild {
  background-color: #eee;
  width: 10px;
}

.incidentnextarrow,
.incidentbackarrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(125, 125, 235);
  width: max-content;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  color: white;
}

.incidentpagination {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
