@import url("https://fonts.googleapis.com/css2?family=Mukta+Vaani&display=swap");

.faqcontainer {
  font-family: "Mukta Vaani", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  position: absolute;
  top: 100px;
  right: 0px;
  margin: 2%;
  width: 70%;
}

.faqcontainer > h1 {
  font-size: 2.5rem;
  color: rgb(110, 94, 254);
}

@media screen and (max-width: 1100px) {
  .faqcontainer {
    align-items: center;
    width: 80%;
    left: 10%;
  }
}
