@import url("https://fonts.googleapis.com/css2?family=Mukta+Vaani&display=swap");

.SafetyTipsonecard2 {
  padding: 10px;
  width: 320px;
  height: 340px;
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(115, 40, 245);
  background-color: #fff;
  font-family: "Mukta Vaani", sans-serif;
  filter: drop-shadow(1px 5px 3px rgb(136, 133, 133));
  position: relative;
}

.SafetyTipsTitle2 {
  color: rgb(115, 40, 245);
  font-size: 20px;
  text-align: left;
}

.SafetyTipsHeader2 {
  font-weight: bold;
}

.SafetyTipsdesc2 {
  font-size: 1rem;

}

.SafetyTipsLocation2 {
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
