@import url("https://fonts.googleapis.com/css2?family=Mukta+Vaani&display=swap");

.footer {
  width: 100%;
  font-size: 1rem;
  background-color: rgb(115, 40, 245);
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "Mukta Vaani", sans-serif;
}
