@import url("https://fonts.googleapis.com/css2?family=Mukta+Vaani&display=swap");

.topSafetyTipsBar {
  width: 100%;
  margin: auto;
  margin-top: 10px;
  font-family: "Mukta Vaani", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 5px;
}

.headingsst {
  width: max-content;
  height: max-content;
  border-radius: 10px;
  padding: 5px;
  font-weight: bold;
  font-size: 0.8rem;
  border: 2px solid rgb(115, 40, 245);
  color: rgb(115, 40, 245);
  white-space: nowrap;
}

.toptypeofassaultst,
.SafetyTipsstate {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.filterdatast {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
  font-size: 0.8rem;
}

.chipcontainerst {
  background-color: rgba(115, 40, 245, 0.253);
  padding: 8px;
  border-radius: 10px;
}

.filterSafetyTips {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: transparent;
  font-weight: bold;
  color: rgb(115, 40, 245);
  font-size: medium;
  cursor: pointer;
  border: 2px solid rgb(115, 40, 245);
  border-radius: 6px;
  padding: 5px 20px;
}
