@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani&display=swap');

.lrcontainer {
    font-family: 'Mukta Vaani', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: absolute;
    top: 100px;
    right: 0px;
    margin: 2%;
    width: 70%;
}

.lrcontainer>h1 {
    text-align: left;
}

@media screen and (max-width:1100px) {
    .lrcontainer {
        align-items: center;
        width: 80%;
        left: 10%;
    }
}